.checkout {
  width: 100%;
  height: 60vh;
  background: #fce3fe;
  padding-top: 50px;
  margin-bottom: 100px;

  .checkout-container {
    width: 580px;
    height: 400px;
    background: white;
    margin: 40px auto;
    padding: 40px 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;

    h1 {
      color: #5c5c5c;
      margin: 20px 0px;
    }

    .checkout-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin-top: 30px;

      input {
        height: 72px;
        padding-left: 20px;
        border: 1px solid #c9c9c9;
        outline: none;
        color: #5c5c5c;
        font-size: 18px;
      }

      .number {
        width: 80%;
      }

      .name {
        width: 100%;
      }

      .extra {
        width: 40%;
      }

      img {
      //  width: 64px;
      }

      button {
        width: 15%;
        height: 72px;
        color: white;
        background: #ff4141;
        border: none;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;

        img {
          width: 24px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .checkout {
    min-height: 600px;

    .checkout-container {
      width: auto;
      max-width: 500px;
      max-height: 500px;
      padding: 20px 30px;

      h1 {
        font-size: 24px;
      }

      .checkout-fields {
        margin-top: 20px;

        input {
          height: 50px;
        }

        button {
          height: 50px;
          font-size: 14px;

          img {
            width: 20px;
          }
        }
      }
    }
  }
}
